<p id="notice"><%= notice %></p>

<h1>Usersテスト</h1>

<table>
  <thead>
    <tr>
      <th>e-mail</th>
      <th>postal_code</th>
      <th>address</th>
      <th>self_introduction</th>
      <!--
      <th><%= Book.human_attribute_name(:title) %></th>
      <th><%= Book.human_attribute_name(:memo) %></th>
      <th><%= Book.human_attribute_name(:author) %></th>
      <th><%= Book.human_attribute_name(:picture) %></th>
      -->
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.postal_code %></td>
        <td><%= user.address %></td>
        <td><%= user.self_introduction %></td>
        <td><%= link_to 'Show', user %></td>
        <% if current_user.id == user.id %>
          <td><%= link_to 'Edit profile', edit_user_registration_path, class: 'navbar-link' %></td>
        <% else %>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>

<br>

<%= link_to t('views.common.back'), books_path %>
