<h1><%= t('views.common.title_edit', name: Comment.model_name.human) %></h1>

<%= form_with model: [@commentable, @comment] do |f| %>
  <%= f.text_area :content, required: true %>
  <div class="actions">
    <%= f.submit "コメントをする", class: 'btn btn-warning px-5' %>
  </div>
<% end %>

<%= link_to t('views.common.show'), @commentable %> |
<%= link_to t('devise.shared.links.back'), :back %>