<h1>Editing Comment</h1>

<%= form_with model: [@commentable, @comment] do |f| %>
  <%= f.text_area :content, required: true %>
  <div class="actions">
    <%= f.submit "コメントをする", class: 'btn btn-warning px-5' %>
  </div>
<% end %>

<%= link_to 'Show', @report %> |
<%= link_to 'Back', reports_path %>